{% extends 'davidvoong/base.html' %}

{% block title %}Home Page{% endblock %}

{% block internal_stylesheet %}
<style>

  #id-main-container {
  padding-left: 0px;
  padding-right: 0px;
  }
  
  #id-main-container .container-fluid {
  background-color: white;
  }

  #id-main-container .container-fluid:nth-child(even) {
  background-color: #b0c4de;
  }  

  <!-- #id-main-container .container { -->
  <!-- background-color: #b0c4de; -->
  <!-- } -->

  h2 {
  text-align: center;
  }

  .jumbotron#bike {
  background-image: url(/static/davidvoong/bike.jpg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: 900px;
  background-color: white;
  <!-- background-image: url(/static/davidvoong/jumbotron_image.png); -->
  <!-- background-size: 700px; -->
  <!-- background-repeat: no-repeat; -->
  <!-- background-position: center; -->
  <!-- background-color: white; -->
  }

  .row {
  text-align: center;
  }

  h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 3em;
  }

</style>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div id="id-main-container" class="container-fluid">

  <div class="container-fluid" style="background-color:white;">
    <div class="container">
      <div id="bike" class="jumbotron" style="margin-top: 40px; margin-bottom: 40px; height: 500px; padding: 25px 25px 25px 25px;">
      </div>
      <div class="jumbotron" style="max-width: 900px; margin-left: auto; margin-right: auto; padding-left: 10px; padding-right: 10px;">
	<p style="margin-bottom: 0px">Hi my name is David Voong. I am a data scientist, software engineer, web developer, particle physicist and entrepreneur. I like long walks on the beach, candle lit dinners and sweaty Saturdays. On this page you'll find a little bit about what I do and the exciting projects I'm working on.</p>
      </div>
    </div>
  </div>

  <div id="id-projects" class="container-fluid" style="padding-top: 10px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
    <div class="container" style="padding-left: 0px; padding-right: 0px; max-width: 900px;">
      <h2 style="">My Projects</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	  <li data-target="#myCarousel" data-slide-to="1"></li>
	</ol>
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <div class="item active" style="">
	    <a href="projects/pollupla">
	      <img src="{% static 'davidvoong/london_pollution.jpeg' %}" alt="" style="width: 100%; max-width: 100%; max-height: 100%; min-height: 500px; min-width: 900px;">
	    </a>
	    <div class="carousel-caption">
	      <h3>Pollupla</h3>
	      <p>Air pollution has been shown to have a long term detrimental impacts on health and well being. By combining air quality data with property market data Pollupla gives potential home buyers and renters the tools to make a better decision on where they live. We hope this information  will provide people with the financial as well as health related incentives to improve the air quality in their neighbourhoods.</p>
	    </div>
	  </div>
	  
	  <div class="item">
	    <img src="{% static 'davidvoong/projects.jpg' %}" alt="" style="width: 100%; max-width: 100%; max-height: 100%; min-height: 500px; min-width: 900px;">
	    <div class="carousel-caption">
	      <h3>More Coming Soon</h3>
	      <p style="margin-bottom: 90px;">If there's a project you think I'd be interested in, please contact me.</p>
	    </div>
	  </div>
	  
	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
      </div>
    </div>
  </div>
    
  <div id="id-data-science-container" class="container-fluid" style="padding-top: 10px; padding-bottom: 40px;">
    <div class="container">
      <h2 style="padding-bottom: 20px;">Data Science</h2>
      <div class="row">
	<div class="col-md-4">
	  <span class="glyphicon glyphicon-tasks" aria-hidden="true" style="font-size: 5em;"></span>
	  <h3 style="padding-bottom: 10px">Distributed Systems</h3>
	  <p>
	    With the <a href="http://www.csc.com/insights/flxwd/78931-big_data_universe_beginning_to_explode">rapid growth of data</a> in current times comes the opportunity for insight into many aspects of life. In order to extract information our data analysis methods need to grow in terms of efficiency and speed. Distributed and cloud computing allow us to leverage our resources to achieve this. I use technologies such the <a href="http://www.csc.com/insights/flxwd/78931-big_data_universe_beginning_to_explode">LHC Computing Grid</a>, the <a href="https://hadoop.apache.org/">Hadoop</a> ecosystem and cloud services such as <a href="https://console.ng.bluemix.net/">IBM's Bluemix</a>, <a href="http://azure.microsoft.com/en-gb/">Microsoft's Azure</a> and <a href="https://cloud.google.com/appengine/docs">Google's Cloud Platform</a>.
	  </p>
	</div>
	<div class="col-md-4">
	  <span class="glyphicon glyphicon-stats" aria-hidden="true" style="font-size: 5em;"></span>
	  <h3 style="padding-bottom: 10px">Statistics</h3>
	  <p>At the core of any data science is statistics. Statistical methods allow large data sets to be summarised in a small set of numerical values or visualisations e.g. in a graph or histogram. They also give us an understanding on the limitations of our data, what are the errors on our data like? How do they vary with the size of our dataset? And to what degree of belief in our calculations can we have? My background in Physics gives me a solid foundation on which to tackle these questions.</p>
	</div>
	<div class="col-md-4">
	  <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="font-size: 5em;"></span>
	  <h3 style="padding-bottom: 10px">Visualisation</h3>
	  <p>
	    Data visualisation is a key tool for any data scientist, it allows data to be represented in a more intuitive way, helping people to make better <b>data driven</b> decisions. I use libraries such as <a href="http://pandas.pydata.org/">pandas</a> (with <a href="http://matplotlib.org/">matplotlib</a>) and the particle physics favourite <a href="https://root.cern.ch/drupal/">ROOT</a> for data exploration. In addition to this for more interactive data visualisations in the context of the web such as interactive maps, data networks and animated charts I use the <a href="http://d3js.org/">d3</a> library.  
	  </p>
	</div>
      </div>
      
      <div class="row">

	<div class="col-md-4 col-md-offset-2">
	  <img src="{% static 'davidvoong/regression.png' %}" style="width:75px">
	  <h3 style="padding-bottom: 10px">Data Modelling</h3>
	  <p>Modelling your data allows you to make predictions. This involves fitting your data to a model using statistical methods such as a Least Squares or Maximum Likelihood method. Your model and its fit can then be validated using a Chi Squared test whilst the error of the model can be calculated from the Covariance matrix of the model parameters from the fit. I use the <a href="http://www.numpy.org/">numpy</a> and <a href="http://www.scipy.org/">scipy</a> python libraries for this as well as the Particle Physics library <a href="http://seal.web.cern.ch/seal/snapshot/work-packages/mathlibs/minuit/">Minuit2</a>.</p>
	</div>
	<!-- <div class="col-md-4"> -->
	<!--   <span class="glyphicon glyphicon-bullhorn" aria-hidden="true" style="font-size: 5em;"></span> -->
	<!--   <h3 style="padding-bottom: 10px">Communication</h3> -->
	<!--   <p>Understanding you data is great but doesn't mean anything if you can't communicate how you analysed your data and what the results mean. A data scientists needs to be able to communicate on many levels, from the non-specialists, junior members, peers and to specialists. Having an academic background which focuses on outreach with the general public, tutoring and high level research gives me experience across this spectrum.</p> -->
	<!-- </div> -->

	<div class="col-md-4">
	  <img src="{% static 'davidvoong/table.png' %}" style="width: 75px;">
	  <h3 style="padding-bottom: 10px">Databases</h3>
	  <p>Databases are used to store data, they come in all shapes and sizes depending on whether you require high read, write, creation, deletion speeds or consistent, secure, scalable and robust data storage. Having a deep understanding of the what the right tool for the job is essential when developing your system. I have experience with relational databases such as <a href="https://www.mysql.com/">MySQL</a>, <a href="http://www.postgresql.org/">PostgreSQL</a> as well as noSQL JSON document orientated databases such as <a href="#">MongoDB</a>.
	  </p>
	</div>
      </div>
      
    </div>
  </div>

  <div id="id-software-development-container" class="container-fluid" style="padding-top: 10px; padding-bottom: 40px;">
    <div class="container">
      <h2 style="padding-bottom: 20px;">Software Development</h2>
      <div class="row">
	<div class="col-md-4">
	  <span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size: 5em;"></span>
	  <h3 style="padding-bottom: 10px">Web Development</h3>
	  <p>I believe the future lies in the web, it is prolific, dynamic and filled with data. It allows us to build rich applications with interoperability across multiple platforms as well as the ability to take advantage of dynamic resources such as cloud computing platforms. I have experience in both front end (HTML, Javascript, CSS, Bootstrap, JQuery, JSON and AJAX) and backend development (primarily with building REST APIs with <a href="https://www.djangoproject.com/">Django</a>) as well as deployment tools such as <a href="http://www.fabfile.org/">Fabric</a>.
	  </p>
	</div>
	<div class="col-md-4">
	  <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size: 5em;"></span>
	  <h3 style="padding-bottom: 10px">Languages</h3>
	  <p>First off I'm a Python developer, I'm a big fan of <a href="http://ipython.org/">iPython</a> as well as some of its related components such as <a href="http://ipython.org/notebook.html">Notebook</a>. Despite this bias I have 10++ years with C++ and even some experience with Fortran (it's still used in academia). I'm most comfortable working in a LINUX environment on a BASH shell and doing object orientated programming. My favourite editor? Probably <a href="https://www.gnu.org/software/emacs/">Emacs</a></p>
	</div>
	<div class="col-md-4">
	  <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="font-size: 5em;"></span>
	  <h3 style="padding-bottom: 10px">Collaboration and Testing</h3>
	  <p>Collaboration and Testing tools are often overlooked. In my opinion they are every bit as important if not more than the abstract low levels features of a programming language. They enable developers to write robust and maintainable code which make sense to other developers. For issue tracking I have experience with <a href="https://www.atlassian.com/software/jira">JIRA</a>, for version control, <a href="https://git-scm.com/">Git</a> and for Continuous Integration (CI) systems I have experience with <a href="https://jenkins-ci.org/">Jenkins</a> and <a href="https://travis-ci.org/">Travis</a>. I am also an advocate for Test Driven Development (TDD).</p>
	</div>
      </div>
    </div>
  </div>

  <div id="id-education-container" class="container-fluid" style="padding-top: 10px; padding-bottom: 40px;">
    <div class="container">
      <h2 style="padding-bottom: 20px;">Education</h2>
      <div class="row">
	<div class="col-md-4">
	  <img src="{% static 'davidvoong/bristol_university.png' %}" style="width: 250px;">
	  <h3 style="padding-bottom: 10px">PhD Particle Physics</h3>
	  <p>Particle Physics is the study of the fundamental constituents of energy and matter. At the <a href="http://lhcb.web.cern.ch/lhcb/">LHCb detector</a> - one of the detectors in the  Large Hadron Collider at CERN - I researched particle production rates. Particle production occurs when the interaction between two particles is so great that particle anti-particle pairs are spontaneously created from the vacuum, resulting in events hundreds of particles. This process is dominated by QCD physics, a theory  notorious for being difficult in terms of mathematical calculations. Better understanding in this process allows physicists to get a better picture of very rare processes which may be obscured by the myriad of particles.</p>
	</div>
	<div class="col-md-4">
	  <img src="{% static 'davidvoong/ucl.png' %}" style="width: 250px;">
	  <h3 style="padding-bottom: 10px">MSc Physics</h3>
	  <p>At UCL I worked on <a href="https://rivet.hepforge.org">Rivet</a> a toolkit for validation of Monte Carlo event generators. Monte Carlo event generators are used to simulate particle physics events and use random number generators to simulate the innate randomness in quantum mechanical processes. Rivet allows experimental physicists a systematic way in which to make comparisons between real data and Monte Carlo simulated data helping generator developers to fine tune the parameters in their models. Monte Carlo generators are important in giving insight into physics processes as well as how future experiments should be built to maximise sensitivity to certain processes.</p>
	</div>
	<div class="col-md-4">
	  <img src="{% static 'davidvoong/university_of_leicester.gif' %}" style="width: 250px;">
	  <h3 style="padding-bottom: 10px">BSc Physics with Space Science</h3>
	  <p>At the University of Leicester my research project involved simulating the growth of surfaces. I developed computational models based on theoretical papers on surface growth. Also there were fractals which are cool.</p>
	</div>
      </div>
    </div>
  </div>
  
  <div id="id-work-history" class="container-fluid" style="padding-bottom: 50px">
    <div class="container">
      <h2>Work History</h2>
      <div class="row">
	<div class="col-md-4 col-md-offset-2">
	  <h3>OpenTRV</h3>
	  <p><i>May 2015 - Present</i></p>
	  <p><a href="http://opentrv.org.uk/">OpenTRV</a> is a London based startup specialises in using technology (with an emphasis on open source technology) to improve energy efficiency in order to create a more sustainable environment. Whilst working with OpenTRV I helped to develop a smart central heating system that is shared across multiple homes. This included building a REST API interface between the smart valves and sensors in each home and a centralised system which distributes hot water in the most efficient way.</p>
	</div>
	<div class="col-md-4">
	  <h3>Learning Science Ltd</h3>
	  <p><i>August 2014 - April 2015</i></p>
	  <p><a href="http://www.learnsci.co.uk/">Learning Science Ltd</a> is a Bristol based company that specialises in science education, in particular it specialises in how technology can be used to provide a better learning experience. Whilst working with Learning Science I'm helped to design and develop innovative educational tools such as dynamic physics simulations which allowed students to play with laws of physics providing  them with a deeper understanding of the fundamental concepts.</p>
	</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
