{% extends 'davidvoong/base.html' %}

{% block title %}Pollupla{% endblock %}

{% block internal_stylesheet %}
<style>

  #id-main-container {
  padding-left: 0px;
  padding-right: 0px;
  }
  
  #id-main-container .container-fluid {
  background-color: white;
  }

  #id-main-container .container-fluid:nth-child(even) {
  background-color: #b0c4de;
  }  

  <!-- #id-main-container .container { -->
  <!-- background-color: #b0c4de; -->
  <!-- } -->

  h2 {
  text-align: center;
  }

  .jumbotron#bike {
  background-image: url(/static/davidvoong/london_pollution.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  margin-top: 20px;
  <!-- background-position: 50% 25%; -->
  <!-- background-size: 900px; -->
  <!-- background-color: white; -->
  <!-- background-image: url(/static/davidvoong/jumbotron_image.png); -->
  <!-- background-size: 700px; -->
  <!-- background-repeat: no-repeat; -->
  <!-- background-position: center; -->
  <!-- background-color: white; -->
  }

  .row {
  text-align: center;
  }

  h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 3em;
  }

</style>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div id="id-main-container" class="container-fluid">

  <div class="container-fluid" style="background-color:white;">
    <div class="container">
      <!-- <div id="bike" class="jumbotron" style="margin-top: 40px; margin-bottom: 40px; height: 500px; padding: 25px 25px 25px 25px;"> -->
	<div id="bike" class="jumbotron">
	  <div class="container">
	  <h1 style="margin-top: 0px">Pollupla</h1>
	</div>
      </div>
      <div class="jumbotron" style="margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;">
	<p style="margin-bottom: 0px">Air pollution has been shown to have a long term detrimental impacts on health and well being. By combining air quality data with property market data Pollupla gives potential home buyers and renters the tools to make a better decision on where they live. We hope this information will provide people people with the financial as well as health related incentives to improve the air quality in their neighbourhoods.</p>
      </div>
    </div>
  </div>

  <div id="id-main" class="container-fluid" style="padding-top: 10px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
    <div class="container" style="padding-bottom: 50px;">
      <div class="row">
	<div class="col-md-4">
	  <h2>Info</h2>
	  <p>The aim of the project is to combine air quality data to the property market so that home owners are motivated to improve the air quality and hence the value of their homes and also providing home buyers with more information when searching for a property. It’s a bit like the energy rating you get for a fridge or washing machine but instead an air pollution rating for a home.</p>
	</div>
	<div class="col-md-4">
	  <p>Our thinking was that money will always big a factor when it comes to changing people's/business' behaviour but instead of trying to fight human nature perhaps we can try to leverage it instead.</p>
	</div>
	<div class="col-md-4">
	  <p>Here’s a proof of concept my team and I developed, http://pollupla.mybluemix.net/, it was hacked together in one day so don’t expect too much. When you enter a post code it accesses the Zoopla (Zoopla - Pollupla, get it?) database and finds properties in the area, it then collects data from the Kings College Air quality open data network and calculates the pollution at each property. Blue locations means there the data is loading, red, yellow and green locations correspond to the levels of pollution in order from bad to good. It’s a bit slow, so be patient.</p>
	</div>
	<div class="col-md-4">
	  <p>Here’s an article the Evening Standard wrote about us, <a href="http://www.standard.co.uk/news/techandgadgets/technology-the-key-to-pollution-debate-as-app-exposes-dirty-air-neighbourhoods-10359122.html">asdf</a></p>
	</div>
	<div class="col-md-4">
	  <p>The project is funded by Climate-KIC, http://www.climate-kic.org/for-students/pre-incubation/ who are providing €5,000 as well as business mentoring which is being matched by the AMEE, https://www.amee.com/ a company whose aim is to promote sustainable business.</p>
	</div>
	<div class="col-md-4">
	  <p>In the near future we’ll hopefully have an MVP (Minimal Viable Product) by December to earn the single available Climate-KIC funded slot for the COP21 conference in Paris on December 7-8, http://www.cop21paris.org/.</p>
	</div>
    </div>
  </div>
    

{% endblock %}
