{% extends 'davidvoong/base.html' %}

{% block title %}Pollupla{% endblock %}

{% block internal_stylesheet %}
<style>

  #id-main-container {
  padding-left: 0px;
  padding-right: 0px;
  }
  
  #id-main-container .container-fluid {
  background-color: white;
  }

  #id-main-container .container-fluid:nth-child(even) {
  background-color: #b0c4de;
  }  

  <!-- #id-main-container .container { -->
  <!-- background-color: #b0c4de; -->
  <!-- } -->

  h2 {
  text-align: center;
  }

  .jumbotron#bike {
  background-image: url(/static/davidvoong/london_pollution.jpeg);
  background-repeat: no-repeat;
  background-size: 1150px;
  height: 500px;
  margin-top: 20px;
  <!-- background-position: 50% 25%; -->
  <!-- background-size: 900px; -->
  <!-- background-color: white; -->
  <!-- background-image: url(/static/davidvoong/jumbotron_image.png); -->
  <!-- background-size: 700px; -->
  <!-- background-repeat: no-repeat; -->
  <!-- background-position: center; -->
  <!-- background-color: white; -->
  }

  .row {
  text-align: center;
  }

  h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 3em;
  }

</style>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div id="id-main-container" class="container-fluid">

  <div class="container-fluid" style="background-color:white;">
    <div class="container">
      <!-- <div id="bike" class="jumbotron" style="margin-top: 40px; margin-bottom: 40px; height: 500px; padding: 25px 25px 25px 25px;"> -->
	<div id="bike" class="jumbotron">
	  <div class="container">
	  <h1 style="margin-top: 0px">Pollupla</h1>
	</div>
      </div>
      <div class="jumbotron" style="margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;">
	<p style="margin-bottom: 0px">Air pollution has been shown to have a long term detrimental impacts on health and well being. By combining air quality data with property market data Pollupla gives potential home buyers and renters the tools to make a better decision on where they live. We hope this information will provide people with the financial as well as health related incentives to improve the air quality in their neighbourhoods.</p>
      </div>
    </div>
  </div>

  <div id="id-main" class="container-fluid" style="padding-top: 10px; padding-bottom: 100px;">
    <div class="container">
    <div class="col-md-4">
      <h2>How it Works</h2>
      <p>The pollupla project uses data collected from a network of air quality stations located around central London, the data is collected by and distributed by the <a href="http://www.londonair.org.uk/LondonAir/Default.aspx">King's College's London Air</a> network. This data is combined with data from the <a href="http://www.zoopla.co.uk/">Zoopla</a> property database to calculate the air pollution levels for properties near a given postcode.</p>

      <p>During the 24 hour Climathon event we put together a <a href="http://pollupla.mybluemix.net">prototype</a>, blue markers correspond to properties where the data is being collected and red, yellow and green markers correspond to properties with air quality ratings varying from bad to good (note the queries can be a bit slow, ~15 seconds, so you'll need to be patient).</p>
    </div>
    
    <div class="col-md-4">
      <h2>Climathon</h2>
      <p>At the London 2015 <a href="http://www.climate-kic.org/climathon/">Climathon</a> (hackathon event run by <a href="http://www.climate-kic.org/for-students/pre-incubation">Climate-KIC</a>) our team Pollupla won first prize for the best innovative solution to tackling climate change in London.</p>

      <p>For first prize we were awarded £1000 to develop our business idea which was later increased to €10,000 when we were accelerated along their incubation route, €5000 of which is provided by <a href="https://www.amee.com">AMEE</a>, a company aimed at sustainable business.</p>

      <p><a href="http://www.standard.co.uk/news/techandgadgets/technology-the-key-to-pollution-debate-as-app-exposes-dirty-air-neighbourhoods-10359122.html">Here</a> is an article written about us in the Evening Standard).</a></p>
    </div>
    
    <div class="col-md-4">
      <h2>The Team</h2>
      <p>The team is consists of myself (data scientist), Nicholas O'Donnel-hoare (Designer) and Chris Guy (Developer). Nick and Chris both have many years of industrial experience in the sustainability sector and both work for <a href="https://www.amee.com">AMEE</a>.</p>

      <p>In future we hope to continue to develop Pollupla are are aiming to earn a spot at the <a href="the COP21 conference in Paris on December 7-8, http://www.cop21paris.org">COP21 conference</a> in Paris on December 7-8.</p>
    </div>

    
    </div>
  </div>
</div>

{% endblock %}
