{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>How to: After an Episode</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
       -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

  </head>
  
  <body>
    
    <div class="container">
      
      <div class="starter-template">
	<h1 style="text-align: center">How to Use This App</h1>
	<h2 style="text-align: center">2. After an Episode</h2>
	<div class="row">
	  <div style="text-align: center" class="col-sm-6 col-sm-offset-3">
	    <p>Recording an episode can help with understanding and treating your condition. After an episode you will be prompted to log the events and feelings your had in the build up. </p>
	  </div>
	</div>

	<div style="padding-top: 15px" class="row">
	  <div style="text-align: center" class="col-sm-6 col-sm-offset-3">
	    <a class="btn btn-primary" href="/cbt/post-episode" role="button">Try Now</a>
	    <a class="btn btn-primary" href="/cbt/monitoring-your-progress" role="button">Next</a>
	  </div>
	</div>
	
      </div>

      
    </div><!-- /.container -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  </body>
</html>
