<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CBT for Me</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
       -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

  </head>
  
  <body>
    
    <div class="container">
      
      <div class="starter-template">
	<h1 style="text-align: center">CBT Interactive</h1>
	<p class="lead"></p>
      </div>

      <div class="row">
	<div class="col-md-6 col-md-offset-3">
	  <a href="/cbt/breathe"><h2 style="text-align: center"><button class="btn btn-default">I'm Having an Episode</button></h2></a>
	</div>
	<div class="col-md-6 col-md-offset-3">
	  <a href="/cbt/day-log"><h2 style="text-align: center"><button class="btn btn-default">Tell Me About Your Day</button></h2></a>
	  <!-- <h2 style="text-align: center">Heading</h2>
	       <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	       <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
	</div>
      </div>
      
      <div class="row">
	<div style="margin-top: 50px; text-align: center" class="col-md-6 col-md-offset-3">
	  <p>For more information on Functional Neurological Disorders visit <a href="http://fndhope.org">http://fndhope.org/</a></p>
	  <p>If you are in crisis please consider contacting the Samaritans on 115123 <a href="http://www.samaritans.org/">www.samaritans.org</a></p>
	</div>
      </div>

    </div><!-- /.container -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  </body>
</html>
