{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>How to Use This App</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
       -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

  </head>
  
  <body>
    
    <div class="container">
      
      <div class="starter-template">
	<div class="row">
	  <div style="text-align: center" class="col-sm-6 col-sm-offset-3">
	    <h1 style="text-align: center">Details Complete!</h1>
	    <p>Let's get started!</p>
	    <h2 style="text-align: center">How to Use This App</h2>
	    <p>This app is generally used in the following situations</p>
	    <h2 style="text-align: center">1. When Experiencing an Episode</h2>
	    <p>This app contains tools you can use to help you through an episode. From the home screen tap the <b>Help Me</b> button to access a relaxation exercise.</p>
	  </div>
	</div>
	
	<div style="padding-top: 15px" class="row">
	  <div style="text-align: center" class="col-sm-6 col-sm-offset-3">
	    <a class="btn btn-primary" href="/cbt/breathe" role="button">Try Now</a>
	    <a class="btn btn-primary" href="/cbt/after-an-episode" role="button">Next</a>
	  </div>
	</div>
	
      </div>

      
    </div><!-- /.container -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  </body>
</html>
