{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Post Episode</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
       -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

  </head>
  
  <body>
    
    <div class="container">
      
      <div class="starter-template">
	<h1 style="text-align: center">I'm Feeling Better</h1>
	<p class="lead"></p>
      </div>

      <div class="row">
	<div style="text-align: center" class="col-sm-6 col-sm-offset-3">
	  <p>That's great! Please take some time to answer to a few questions about your episode. Your responses can help you and your physician gain insight into how to treat and manage your condition</p>
	</div>
      </div>
      
      <div class="row">
	<div style="text-align: center" class="col-sm-6 col-sm-offset-3">
	  <form action="/cbt/post-episode-details-submitted">
	    <h2>Physical</h2>
	    <div class="form-group">
	      <label for="physical">What were your physical symptoms?</label>
	      <input class="form-control" id="physical" type="text" name="physical" placeholder="What did you experience?">
	    </div>

	    <h2>Thoughts</h2>
	    <div class="form-group">
	      <label for="thought">What were you thinking about at the time?</label>
	      <input class="form-control" id="thoughts" type="text" name="thought" placeholder="What thoughts went through your mind?">
	    </div>
	    
	    <h2>Emotions</h2>
	    <div class="form-group">
	      <label for="emotion">How did that make you feel?</label>
	      <input class="form-control" id="emotion" type="text" name="emotion" placeholder="What emotions did you experience?">
	    </div>
	    
	    <h2>Behaviour</h2>
	    <div class="form-group">
	      <label for="behaviour">How did this affect your behaviour?</label>
	      <input class="form-control" id="behaviour" type="text" name="behaviour" placeholder="How did you respond?">
	    </div>

	    <h2>Reflection</h2>
	    <div class="form-group">
	      <label for="behaviour">How could you change regarding your thoughts/emotions/physical experience/behaviour to make this better next time?</label>
	      <input class="form-control" id="behaviour" type="text" name="behaviour" placeholder="e.g. Be concious to think more positively">
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>

	  <!-- <a href="/cbt/home"><button class="btn btn-default">Skip</button></a> -->
	  
	</div>
      </div>

    </div><!-- /.container -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  </body>
</html>
