{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>What is FND?</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
       -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

  </head>
  
  <body>
    
    <div class="container">
      
      <div class="starter-template">
	<h1 style="text-align: center">What is FND?</h1>
	<div class="row">
	  <div style="text-align: left" class="col-sm-6 col-sm-offset-3">
	    <p>Functional neurological symptoms is an umbrella term use for a variety of symptoms which relate to neurological features which are not due to physical damage to the nervous system. These symptoms arise due to a problem with the function, rather than structure of the nervous system.</p>

	      <p>It is quite common for the diagnosis of functional neurological disorders to take a long time, and patients often find that they have seen multiple specialist before they receive the diagnosis. This process can sometimes be frustrating.</p>

	      <p>It’s useful to think of the problem as being due to messages which are not being communicated effectively between the brain and body. It is like a computer having a software problem rather than a hardware problem.</p>

	      <h2>Why do I have FND?</h2>

	      <p>Often we do not know 100% why the symptoms started and our models of why people get functional symptoms are incomplete.</p>

	      <p>There are many potential reasons why someone might become vulnerable to functional symptoms.  There might be things that happened before the symptoms started (Predisposing Factors); things that happened around the time that the symptoms started (Precipitating Factors) and things that happened after the symptoms started (Perpetuating or Maintaining Factors).</p>

	      <h2>What is the treatment?</h2>

	      <p>The treatment of FND depends largely on the specific symptoms, however usually it is a combination of psychological therapy, physiotherapy, occupational therapy, and psychiatric input.   CBT approaches have been used successfully as part of the psychological therapy process, and this is the main aspect we will focus on within this app. </p>
	  </div>
	</div>

      </div>

      
    </div><!-- /.container -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  </body>
</html>
